venv
env
.env
uploads
__pycache__
graphs
chroma_store
*.xlsx
/lib
*.zip

# Admin panel handled dynamic prompt codes exclusions
Admin panel handeled dynamic prompt codes/*.html
Admin panel handeled dynamic prompt codes/query.txt
Admin panel handeled dynamic prompt codes/rag_fix.txt
Admin panel handeled dynamic prompt codes/homeoanalysis.txt
Admin panel handeled dynamic prompt codes/homeorag.txt